body {
	width: 100%;
}

h1 {
	font-weight: bold;
	font-size: 18px;
}

.heroList ul {
	list-style: none;
}

.heroList ul li {
	padding: 5px 0;
}

.heroList ul li img {
	vertical-align: middle;
}

footer {
	margin-top: 200px;
}

#graph {
	display: flex;
	flex-direction: row;
}

#graph .bar {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	height: 1000px;
	position: relative;
	align-items: flex-end;
}

#graph .bar div {
	width: 22px;
	background: red;
	display: flex;
	align-items: flex-end;
}

#graph .bar div p {
	position: absolute;
	transform: rotate(-90deg);
	transform-origin: left;
	margin-left: 11px;
}

