body {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
}

h1 {
	font-weight: bold;
	font-size: 18px;
}

.heroList ul {
	list-style: none;
}

.heroList ul li {
	padding: 5px 0;
}

.heroList ul li img {
	vertical-align: middle;
}

footer {
	margin-top: 200px;
}

#graph {
	display: flex;
	flex-direction: column;
}

#graph .bar {
	margin: 10px 0;
}